/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/inter-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/inter-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
            url('../fonts/inter-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/inter-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
            url('../fonts/inter-v3-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/inter-v3-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
            url('../fonts/inter-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/inter-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* custom styles */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    padding: 15px 30px;
    color: #fff; 
    font-size: 20px;   
    border: 0;
    cursor: pointer;
    transition: transform .2s linear;
    box-sizing: border-box;
}
.btn:hover,
.btn:active,
.btn:focus {    
    transform: scale(.98);
}
.btn--red {
    background-color: #ff5a05;    
}
.btn--transp {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 14px 30px;
}
.suptitle {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
    color: #ff5a05;
    text-transform: uppercase;
}
.title {    
    color: #102746;
    font-weight: 700;
    font-size: 49px;
    line-height: 58px;
}
.descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #102746;
}
/* header */
.header {
    padding: 15px 0;
    position: absolute;
    width: 100%;
}
.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    justify-content: flex-end;
}
.header__item {
    margin-right: 30px;
}
.header__item:last-of-type {
    margin-right: 0;
}
.header__link {
    color: #ccc;
    font-weight: 500;
    font-size: 20px;
}
.header__link:hover, 
.header__link:active, 
.header__link:focus {
    color: #fff;
}
/* intro */
.intro {
    max-width: 100%;
    height: 100vh;
    min-height: 900px;
    background: #102746 url('../img/intro/intro-bg.jpg') center no-repeat;
    background-size: cover;
}
.intro__inner {
    padding: 250px 0;
    display: grid;
    grid-template-columns: 420px 2fr;
    grid-row-gap: 60px;
}
.intro__data {
    max-width: 420px;
}
.intro__title {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
}
.intro__subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    border-bottom: 1px solid #fff;
    padding-bottom: 14px;
    margin-bottom: 20px;
}
.intro__subtitle strong {
    font-weight: 700;
}
.intro__descr {
    color: #fff;
    margin-bottom: 40px;
}
.intro__btn {
    margin-right: 40px;
}
.intro__btn:last-of-type {
    margin-right: 0;
}
.intro__pic {
    position: relative;
    top: 0;
    right: -60px;
}
/* partners */
.partners {
    padding: 60px;
}
.partners__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}
.partners__item {
    grid-column: span 2;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .2);
}
.partners__item:nth-child(5) {
    grid-column: 2 / 4;
}
/* profile  */
.profile {
    padding: 110px 60px;
}
.profile__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
}

.profile__image {
    position: relative;
    display: inline-block;
}
.profile__data {
    max-width: 550px;
}
.profile__suptitle {
    margin-bottom: 12px;
}
.profile__title {
    margin-bottom: 25px;
}
.profile__descr {
    margin-bottom: 25px;
}
.solutions__benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.solution-benefits__item {
    padding-left: 30px;
    position: relative;
    margin-right: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #102746;
}
.solution-benefits__item::before {
    content: url('../img/svg/check-circle.svg');
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 13;
}
.solution-benefits__item:last-of-type {
    margin-right: 0;
}
/* profile__popup */
.profile__popup {
    position: absolute;
    top: 50%;
    right: -50px;
    z-index: 12;
}

/* profile__statistic */
.profile__statistic {
    background-color: #fff;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .2);
    padding: 22px 17px 22px 140px;
    max-width: 300px;
    border-radius: 10px;  
    margin: 0 auto 30px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    position: relative;
}
.profile__progress-circule {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 20px;
    z-index: 13;
}
.profile__status {
    font-size: 16px;
    line-height: 24px;
    color:rgba(60, 60, 67, .6);
}
.profile__count {
    font-size: 13px;
    line-height: 22px;
    color: #7459d9;
}
/* transaction */
.transaction {
    background-color: #fff;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .2);padding: 30px;
    max-width: 464px;
    border-radius: 10px;
}
.transaction__title {
    color: #404040;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}
.transaction__list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.transaction__item {
    margin-right: 20px;
    text-align: center;
}
.transaction__item:last-of-type {
    margin-right: 0;
}
.transaction__person > img {
    border: 0;
    border-radius: 50%;  
    width: 44px;
    height: 44px;
}
.transaction__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.transaction__form {
    display: flex;
}
.transaction__input {
    padding: 7px 26px 6px 10px;
    font-size: 24px;
    font-weight: 300;
    background: #fff url(../img/svg/$.svg) center right 10px no-repeat;
    background-size: 10px;
    border: 1px solid #1f37ff;
    border-radius: 6px;
    max-width: 200px;
    margin-right: 20px;
}
.transaction__input::placeholder {
    color: rgb(199, 199, 199);
}
.transaction__btn {
    font-size: 11px;
    font-weight: 700;
}
/* statistic */
.statistic {
    margin-top: 90px;
    padding: 180px 0 240px;
    background: #fff url('../img/statistic/statistic-bg.svg') center no-repeat;
    background-size: cover;
}
.statistic__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 150px 30px;
    justify-content: center;
}
.statistic__item {
    height: 260px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .06);
    border-bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
}
.statistic__item::after {
    content: '';
    display: block;
    width: 184px;
    height: 184px;
    position: absolute;
    bottom: -92px;
    left: 38px;
    z-index: 3;
    background-color: white;
    box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, .06);
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
}
.statistic__number,
.statistic__descr {
    position: relative;
    z-index: 20;
}
.statistic__number {
    color: #1f37ff;
    font-size: 55px;
    line-height: 66px;
    font-weight: 700;
}
.statistic__descr {
    color: #102746;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

/* benefits */
.benefits {
    background-color: #fff9f5;
    padding: 90px 0;
}

.benefits__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.benefits__suptitle {
    margin-bottom: 15px;
}
.benefits__title {
    font-size: 31px;
    line-height: 40px;
    margin-bottom: 20px;
}
.benefits__descr {
    max-width: 250px;
}
.benefits__descr-main {
    max-width: 320px;
}
.benefits__item {
    border: 2px solid rgba(66, 82, 207, 0.1);
    border-radius: 10px;
    padding: 34px;
    color: #102746;
    background-color: #fff;
} 

.benefits-item__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 9px;
}
.benefit__icon {
    display: block;
    margin-bottom: 22px;
}
.benefits__item:hover {
    background-color: #4252cf;
    color: #fff;
}
.benefits__item:hover .benefit__icon path {
    fill: #fff;
}
/* reviews */
.reviews {
    padding: 110px 0;
}
.reviews__title {
    text-align: center;
    margin-bottom: 25px;
}
.reviews__descr {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 70px;

}
/* swiper start ================================= */
.swiper-container {
    width: 100%;
    max-width: 1230px;
    height: 500px;
    position: relative;
}
.swiper-button-prev::after, 
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev, 
.swiper-button-next {
    background-color: #ff5a05;
    width: 40px;
    height: 40px;
    border-radius: 33px;
    position: absolute;
    top: 96%;
    z-index: 26;
}
.swiper-button-prev {
    border-bottom-right-radius: 0;
    left: 300px;
}
.swiper-button-next {
    border-bottom-left-radius: 0;
    left: 350px;
}
/* swiper end =================================== */
.swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
}
.review {
    position: relative;
}
.reviews-data__title {
    font-size: 31px;
    line-height: 49px;
    font-weight: 600;
    margin-bottom: 74px;
    color: #102746;
}
.reviews__author {
    box-shadow: 13px 13px 31px 0px rgba(0, 0, 0, .1);
    padding: 30px 80px 30px 30px;
    background-color: #fff;
    max-width: 230px;
    position: relative;
    z-index: 10;
}
.author__name {
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #102746;
}
.author__prof {
    font-size: 17px;
    line-height: 32px;
    color: #102746;;
}
.review__body {
    padding: 30px;
    max-width: 525px;
    box-shadow: 13px 13px 31px 0px rgba(0, 0, 0, .1);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
}
.review__rank {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}
.review__text {
    font-style: italic;
    font-size: 16px;
    line-height: 25px;
}
.reviews__photo {
    position: relative;
}
.cite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: #1f37ff;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 25;
}
.cite__item {
    margin: 0 4px;
}

/* plans */
.plans {
    padding: 90px 0;
    position: relative;
}
.plans::before {
    content: '';
    display: block;
    width: 100vmax;
    height: 500px;
    background-color: #ebedff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.plans__title {
    max-width: 454px;
    text-align: center;
    margin: 0 auto;
    font-size: 31px;
    line-height: 40px;
    margin-bottom: 25px;
}
.plans__nav {
    max-width: 360px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px; 
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 40px;
}
.duration__btn {
    color: #ff5a05;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    border: 0;
    border-radius: 10px;
    
    padding: 12px 34px;
    background-color: rgba(255, 90, 5, .1);
}
.duration__btn:hover,
.duration__btn:focus,
.duration__btn:active {
    background-color: #ff5a05;
    color: #fff;
}
.plans__list {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.plans__list.list--active {
    display: flex;
    flex-wrap: wrap;
}
.plans__item {
    margin-right: 20px;
    padding: 100px 60px 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(31, 55, 255, .1);
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
}
.plans__item:last-of-type {
    margin-right: 0;
}
.plans__item::before {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 13;
}
.plan--fire::before {
    content: url('../img/plan/Polygon-fire.svg');    
}
.plan--heart::before {
    content: url('../img/plan/Polygon-hearts.svg');
}
.plan--plane::before {
    content: url('../img/plan/Polygon-plane.svg');
}
.plan--jet::before {
    content: url('../img/plan/Polygon-jet.svg');
}
.plan--rocket::before {
    content: url('../img/plan/Polygon-rocket.svg');
}
.plan__name {
    font-size: 31px;
    color: #102746;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
}
.plan__price {
    color: #1f31ff;
    font-weight: 700;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
}
.plan__duration {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 17px;
}
.plan__duration span {
    font-weight: 500;
}
.plan__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.plan-description__item {
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
}
.plan-description__item::before {
    content: url('../img/svg/check-blue.svg');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
}
.plan__btn {    
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    background-color: #ff5a05;
    border: 0;
    border-radius: 10px;
    
    padding: 8px 0;
}
/* newsletter */
.newsletter {
    padding: 90px 0;
    min-height: 540px;
    background: #fff url('../img/svg/newsletter-bg.svg') center center no-repeat;
    background-size: cover;
    margin-bottom: 90px;
}
.newsletter__title {
    font-size: 39px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    color: #102746;
    margin-bottom: 20px;
}
.nesletter__inner {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    display: flex;
    flex-direction: column;
    max-width: 620px;
    justify-content: center;
    align-items: center;
}
.subscribe__form {
    display: flex;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 6px;
}
.subscribe__input {
    border: 0;
    background-color: transparent;
    width: 300px;
    padding: 0 12px;
}
.subscribe__btn {
    color: #fff;
    background-color: #ff5a05;
    padding: 12px 53px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
}
/* footer */
.footer {
    padding: 100px 0 190px;
    background: navy url('../img/svg/footer-bg.svg') center bottom no-repeat;
    background-size: cover;
    min-height: 430px;
}
.footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10%;
}
.footer__logo {
    display: block;
    margin-bottom: 20px;
}
.social-links__list {
    display: flex;
}
.social-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a507d;
    border-radius: 50%;
    margin-right: 12px;
}
.social-item:last-of-type {
    margin-right: 0;
}
.social-item img {
    display: block;
}
.footer__title {
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}
.link__list {
    display: flex;
    flex-direction: column;
}
.links__item {
    margin-bottom: 10px;
}
.footer__link {
    font-weight: 500;
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    line-height: 25px;
}
@media screen and (max-width: 930px) {
    .header__logo,
    .header__nav {
        margin-bottom: 20px;
    }
    .review__body {
        top: 30px;
        left: 150px;
        right: -240px;
        background-color: #fff;
    }
    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 100px;
    }
    .footer {
        padding-bottom: 100px;
    }
}    
@media screen and (max-width: 780px) {
    .intro__pic {
        display: none;
    }
    .intro__data {
        grid-column: span 2;
        margin: 0 auto;
    }
    .partners__list {
        grid-gap: 10px;
    }
    .profile__image  {
        grid-column: span 2;
        margin-bottom: 160px;
    }
    .profile__data {
        grid-column: span 2;
        margin: 0 auto;
    }
    .profile  {
        padding-bottom: 0;
    }
    .statistic {
        margin-top: 0;
    }
    .benefits__inner  {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
        grid-gap: 10px;
    }
    .benefits__data {
        padding: 10px;
    }
    .author__name,
    .author__prof,
    .review__text {
        font-size: 12px;
        line-height: 18px;
    }
    .reviews-data__title {
        padding-left: 30px;
    }
    .cite {
        display: none;
    }
    .reviews__photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }
    .reviews__photo img {
        display: block;
    }    
}
@media screen and (max-width: 660px) {
    
    .reviews__title,
    .profile__title {
        font-size: 40px;
        line-height: 48px;
    }
    .solution-benefits__item {
        font-size: 18px;
        line-height: 24px;
    }
    .solution-benefits__item::before {
        top: 0;
    }
    .plan__name {
        font-size: 20px;
        line-height: 25px;
    }
    .plan__price {
        font-size: 56px;
        line-height: 65px;
    }
    .plan__duration {
        font-size: 16px;
        line-height: 18px;
    }
    .plan-description__item {
        font-size: 14px;
        line-height: 20px;
    }
    .plans__nav  {
        max-width: 330px;
    }
    .duration__btn {
        font-size: 16px;
        line-height: 20px;
    }
    .newsletter__title {
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width: 540px) {
    .benefits__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    .benefits__inner > li {
        margin: 0 auto;
        max-width: 300px;
    }
    .subscribe__form {
        max-width: 380px;
        margin: 0 auto;
    }
    .profile__image  {
        grid-column: span 2;
        margin-bottom: 230px;
    }
}